mat-card{
  max-width: 500px;
  margin: 7%;
  min-height: 70%;
  border-radius: 10px;
}

label{
  font-size: 150%;
  color: rgba(0, 0, 0, 0.5);
}

mat-toolbar{
  background-color:#673ab7;
  border-radius: 10px;
  width:100%;
  color:#FDFEFE;

}

mat-toolbar p
{
  margin-left: 80px;
}
mat-form-field{
  width: 75%;

}
